.sidebar {
  position: fixed;
  z-index: 8;
  top: 60px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.5em;
  padding-left: 1em;
}
.sidebar li {
  margin: 0.5em 0;
}
.sidebar li > a {
  font-size: 16px;
  color: #363636;
}
.sidebar li > ul > li > a {
  font-size: 14px;
  color: #828282;
}
.sidebar .menu-root {
  margin-top: 30px;
}
.sidebar .main-menu {
  margin-bottom: 20px;
  display: none;
  padding-left: 0;
}
.sidebar .main-sponsor {
  color: #7f8c8d;
  font-size: 0.85em;
}
.sidebar .main-sponsor .logo {
  color: #7f8c8d;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}
.sidebar .main-sponsor img,
.sidebar .main-sponsor a {
  width: 125px;
  display: inline-block;
}
.sidebar .become-backer {
  border: 1px solid #42b983;
  border-radius: 2em;
  display: inline-block;
  color: #42b983;
  font-size: 0.8em;
  width: 125px;
  padding: 4px 0;
  text-align: center;
  margin-bottom: 20px;
}
.sidebar .nav-dropdown h4 {
  font-weight: normal;
  margin: 0;
}
/* 原始菜单css start 保留,用于参考
.slider
  .sidebar-inner
    width: 260px
    padding: $content-padding-top + 10px 20px 60px 60px
  .version-select
    vertical-align: middle
    margin-left: 5px
  .menu-root
    padding-left: 0
  .menu-sub
    font-size: .85em
  .sidebar-link
    color: $light
    &.current
      font-weight: 600
      color: $color-main-primary
    &.new
      &:after
        content: "NEW"
        display: inline-block
        font-size: 10px
        font-weight: 600
        color: #fff
        background-color: $color-main-primary
        line-height: 14px
        padding: 0 4px
        border-radius: 3px
        margin-left: 5px
        vertical-align: middle
        position: relative
        top: -1px
    &:hover
      border-bottom: 2px solid $green
  .section-link
    &.active
      font-weight: bold
      color: $green
原始菜单css start 保留,用于参考 */
/* 此处的阈值需要修改 1920 -》 1200px */
@media screen and (max-width: 1920px) {
  .sidebar {
    position: fixed;
    z-index: 10;
    background-color: #f9f9f9;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
  }
  .sidebar .sidebar-inner {
    padding: 50px 10px 10px 20px;
    box-sizing: border-box;
  }
  .sidebar .sidebar-inner-index {
    padding: 10px 10px 10px 20px;
  }
  .sidebar .search-query {
    width: 200px;
    margin-bottom: 10px;
  }
  .sidebar .main-menu {
    display: block;
  }
  .sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
