article#article-main-page {
  text-align: left;
}
article#article-main-page h1,
article#article-main-page h2,
article#article-main-page h3,
article#article-main-page h4,
article#article-main-page h5,
article#article-main-page h6,
article#article-main-page h7 {
  padding: 25px 0 15px;
  font-weight: 700;
}
article#article-main-page h1 {
  font-size: 27px;
}
article#article-main-page h2 {
  font-size: 25px;
}
article#article-main-page h3 {
  font-size: 22px;
}
article#article-main-page h4,
article#article-main-page h5,
article#article-main-page h6,
article#article-main-page h7 {
  font-size: 20px;
}
article#article-main-page ul {
  list-style-type: square;
  line-height: 1.5em;
  padding-left: 2.5em;
}
article#article-main-page li {
  list-style-type: square;
  margin: 0.5em 0;
  color: #333;
  font-weight: 200;
}
article#article-main-page p {
  font-size: 17px;
  line-height: 25px;
  color: #333;
  font-weight: 200;
  margin: 15px 0;
}
article#article-main-page img {
  width: 100%;
}
article#article-main-page code.hljs {
  display: block;
  padding: 1px;
  border: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  font-family: "Source Code Pro", monospace;
  background: #eee !important;
  color: #333;
  white-space: pre-wrap;
}
article#article-main-page code.hljs > ul {
  list-style: decimal;
  margin: 30px 0 0 55px !important;
  padding: 0;
  background-color: #fff;
}
article#article-main-page code.hljs > ul > li {
  list-style: decimal-leading-zero;
  padding: 5px !important;
  margin: 0 !important;
  line-height: 18px;
  background: #fff;
  border-left: 1px solid #ddd !important;
  word-break: break-all;
  word-wrap: break-word;
}
article#article-main-page code.hljs > ul > li:nth-of-type(even) {
  background-color: #fcfcfc;
  color: inherit;
}
