@import "theme.styl"

article#article-main-page
  text-align left
  h1, h2, h3, h4, h5, h6, h7
    padding 25px 0 15px
    font-weight 700
  h1
    font-size 27px
  h2
    font-size 25px
  h3
    font-size 22px
  h4, h5, h6, h7
    font-size 20px
  ul
    list-style-type square
    line-height 1.5em
    padding-left 2.5em
  li
    list-style-type square
    margin .5em 0
    color $color-typegraphy-title
    font-weight 200
  p
    font-size 17px
    line-height 25px
    color $color-typegraphy-title
    font-weight 200
    margin 15px 0
  img
    width 100%
  code.hljs
    display block
    padding 1px
    border 0
    margin 0
    width 100%
    font-size 16px
    font-weight 200
    font-family "Source Code Pro", monospace
    background #eee !important
    color #333
    white-space pre-wrap
    > ul
      list-style decimal
      margin 30px 0 0 55px !important
      padding 0
      background-color #fff
      > li
        list-style decimal-leading-zero
        padding 5px!important
        margin 0 !important
        line-height 18px
        background #fff
        border-left 1px solid #ddd !important
        word-break break-all
        word-wrap break-word
        &:nth-of-type(even)
          background-color #fcfcfc
          color inherit





