// =================================================================================
//
//                                   normal theme
//
// =================================================================================

// =================================  font start ===================================
// font faces
$body-font = "Helvetica Neue", Arial, sans-serif
$logo-font = "Helvetica Neue", Arial, sans-serif
$code-font = "Helvetica Neue", Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em
// =================================  font end ===================================

// =================================  color start ===================================
// normal colors
$dark   = #2c3e50
$light  = #7f8c8d
$white  = #fefefe
$green  = #42b983
$red = #ff6666
$medium = #34495e

// iview ui theme color
$color-main-primary = #409EFF
$color-secondary-sucess = #67C23A
$color-secondary-warning = #EB9E05
$color-secondary-danger = #FA5555
$color-secondary-info = #878D99

// typegraphy related
$color-typegraphy-title = #333
$color-typegraphy-title-hover = $color-main-primary
$color-typegraphy-subtitle = #666

// box border related
$color-border = #eee
$color-border-hover = #ddd

// gradually changing color
$color-gradually-gray-11 = #1C1C1C
$color-gradually-gray-21 = #363636
$color-gradually-gray-31 = #4F4F4F
$color-gradually-gray-41 = #696969
$color-gradually-gray-51 = #828282
$color-gradually-gray-61 = #9C9C9C
$color-gradually-gray-71 = #B5B5B5
$color-gradually-gray-81 = #CFCFCF
$color-gradually-gray-91 = #E8E8E8
$color-gradually-gray-101 = #f9f9f9
// =================================  color end ===================================

// =================================  size start ===================================
$border-radius = 4px
$content-padding-top = 30px
$header-inner-height = 41px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top
$h2-margin-top = 45px
$h3-margin-top = 52px
// =================================  size end ===================================


// =================================================================================
//
//                                   normal theme
//
// =================================================================================

// =================================  font start ===================================
// font faces
$body-font = "Helvetica Neue", Arial, sans-serif
$code-font = Monaco, courier, monospace, "Helvetica Neue"

// font sizes
$body-font-size = 15px
$code-font-size = .8em
// =================================  font end ===================================

// =================================  global color start ===================================
// normal colors
$dark   = #2c3e50
$light  = #7f8c8d
$white  = #fefefe
$green  = #42b983
$red = #ff6666
$medium = #34495e

// iview ui theme color
$iview-main-primary-color = #409EFF
$iview-secondary-success-color = #67C23A
$iview-secondary-warning-color = #EB9E05
$iview-secondary-danger-color = #FA5555
$iview-secondary-info-color = #878D99

// gradually changing color
$color-gradually-gray-11 = #1C1C1C
$color-gradually-gray-21 = #363636
$color-gradually-gray-31 = #4F4F4F
$color-gradually-gray-41 = #696969
$color-gradually-gray-51 = #828282
$color-gradually-gray-61 = #9C9C9C
$color-gradually-gray-71 = #B5B5B5
$color-gradually-gray-81 = #CFCFCF
$color-gradually-gray-91 = #E8E8E8
$color-gradually-gray-101 = #f9f9f9
// =================================  global color end ===================================

// =================================  size start ===================================
// 响应式断点
$responsive-sm = 768px
$responsive-md = 992px
$responsive-lg = 1200px

$border-radius = 4px

// header相关
$header-inner-height = 40px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 50px
$mobile-header-inner-height = 40px
// =================================  size end ===================================

// =================================================================================
//
//                                   multiple theme configs
//
// =================================================================================

// =================================  default theme colors ===================================
// ==== public ====
$default-body-background-color = #fafafa
$default-background-color = #fff // 背景色
$default-background-hover-color = #eee // 背景色 hover
$default-title-color = #333 // 标题
$default-title-hover-color = #409EFF // 标题 hover
$default-desc-color = #444 // 描述
$default-desc-hover-color = #409EFF // 描述 hover
$default-info-color = #888
$default-info-hover-color = #409EFF
$default-link-color = #777
$default-link-hover-color = #409EFF
$default-select-color = #fff // classify menu 选中字体颜色
$default-select-background-hover-color = #555 // classify menu 选中背景色
$default-border-color = #eee // cell 边框色
$default-border-hover-color = #ddd // cell 边框色
$default-box-shadow-color = #ddd // cell 阴影色

// ==== header ====
$default-header-background-color = rgba(255, 255, 255, .9)
$default-header-border-color = rgba(240, 240, 240, 1.0) // header边线

// ==== cell normal ====
$default-cell-background-color = #fff // cell背景色

// ==== cell special ====
$default-cell-toggle-background-color = #E8E8E8 // book note cell toggle background color

// ==== section title ====
$default-sectionTitle-square-color = #000 // 方块色
$default-sectionTitle-title-color = #000 // 主标题色
$default-sectionTitle-line-color = #333 // 线条色
$default-sectionTitle-subtitle-color = #333 // 副标题色

// ==== code line ====
$default-codeLine-light = #f5f5f5
$default-codeLine-dark = #ececec
$default-codeLine-highlight = #91d8d8
$default-code-color = #961c7f

// =================================  dark theme colors ===================================
// ==== public ====
$dark-body-background-color = #4f4f4f // 背景色
$dark-background-color = #4f4f4f // 背景色
$dark-background-hover-color = #333 // 背景色 hover
$dark-title-color = #ccc // 标题
$dark-title-hover-color = #ddd // 标题 hover
$dark-desc-color = #aaa // 描述
$dark-desc-hover-color = #ccc // 描述 hover
$dark-info-color = #969696
$dark-info-hover-color = #ccc
$dark-link-color = #ccc
$dark-link-hover-color = #eee
$dark-select-color = #555 // classify menu 选中字体颜色
$dark-select-background-hover-color = #fff // classify menu 选中背景色
$dark-border-color = #2f2f2f // cell 边框色
$dark-border-hover-color = #2c2c2c // cell 边框色
$dark-box-shadow-color = #2f2f2f // cell 阴影色

// ==== header ====
$dark-header-background-color = rgba(#4f4f4f, 0.85)
$dark-header-border-color = #222 // header边线

// ==== cell normal ====
$dark-cell-background-color = #3f3f3f // cell背景色

// ==== cell special ====
$dark-cell-toggle-background-color = #555 // book note cell toggle background color

// ==== section title ====
$dark-sectionTitle-square-color = #ddd // 方块色
$dark-sectionTitle-title-color = #ddd // 主标题色
$dark-sectionTitle-line-color = #999 // 线条色
$dark-sectionTitle-subtitle-color = #999 // 副标题色

// ==== code line ====
$dark-codeLine-light = #2f2f2f
$dark-codeLine-dark = #1f1f1f
$dark-codeLine-highlight = #4e496e
$dark-code-color = #a6e22e
