<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.manage.book.mapper.BookNoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dblearn.blog.manage.book.entity.BookNote">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="read_num" property="readNum" />
        <result column="comment_num" property="commentNum" />
        <result column="like_num" property="likeNum" />
        <result column="cover" property="cover" />
        <result column="book_id" property="bookId" />
        <result column="chapter" property="chapter" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="recommend" property="recommend" />
        <result column="category_id" property="categoryId" />
        <result column="publish" property="publish" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, description, author, content, read_num, comment_num, like_num, cover, book_id, chapter, create_time, update_time, recommend, category_id, publish
    </sql>

    <select id="listBookNoteVo" resultType="cn.dblearn.blog.manage.book.entity.vo.BookNoteVo">
        select * from book_note
        <where>
            <if test="bookNote.title!=null and bookNote.title !=''">
                and title like concat('%',#{bookNote.title},'%')
            </if>
        </where>
    </select>

</mapper>
