<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.book.BookMapper">

    <sql id="homeBookColumn">
        id,title,description,author,read_num,comment_num,like_num,cover,create_time,reading,progress
    </sql>

    <select id="listBookVo" resultType="cn.dblearn.blog.entity.book.vo.BookVo">
        select * from book
        <where>
            <if test="params.title!=null and params.title!=''">
                and title = #{params.title}
            </if>
        </where>
    </select>

    <select id="queryPageCondition" resultType="cn.dblearn.blog.entity.book.vo.BookVo">
        select <include refid="homeBookColumn"/> from book
        <where>
            <if test="params.recommend != null">
                and recommend = true
            </if>
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
            and publish = true
        </where>
        <if test="params.recommend !=null">
            order by reading desc, recommend desc
        </if>
        <if test="params.latest !=null">
            order by reading desc,create_time desc
        </if>
        <if test="params.favorite !=null">
            order by reading desc,like_num desc
        </if>
        <if test="params.commentMost !=null">
            order by reading desc,comment_num desc
        </if>
    </select>

    <update id="updateReadNum">
        update book set read_num = read_num + 1 where id = #{id}
    </update>

    <update id="updateLikeNum">
        update book set like_num = like_num + 1 where id = #{id}
    </update>

    <select id="checkByCategory" resultType="Integer">
        select count(*) from book where category_id = #{categoryId}
    </select>
</mapper>
