<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.book.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dblearn.blog.entity.book.Book">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="author" property="author" />
        <result column="category_id" property="categoryId" />
        <result column="recommend" property="recommend" />
        <result column="publisher" property="publisher" />
        <result column="publish_date" property="publishDate" />
        <result column="page_num" property="pageNum" />
        <result column="grade" property="grade" />
        <result column="description" property="description" />
        <result column="catalogue" property="catalogue" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="read_num" property="readNum" />
        <result column="like_num" property="likeNum" />
        <result column="publish" property="publish" />
        <result column="progress" property="progress" />
        <result column="reading" property="reading" />
    </resultMap>

    <resultMap id="WithSubList" extends="BaseResultMap" type="cn.dblearn.blog.entity.book.vo.BookVO">
        <association property="tagList" column="{linkId=id,type=type}" select="cn.dblearn.blog.mapper.operation.TagMapper.listByLinkId"/>
        <association property="bookNoteList" column="id" select="cn.dblearn.blog.mapper.book.BookNoteMapper.listSimpleBookNote"/>
        <association property="bookSense" column="{bookId=id}" select="cn.dblearn.blog.mapper.book.BookSenseMapper.selectOne"/>
    </resultMap>
    <resultMap id="WithTagList" extends="BaseResultMap" type="cn.dblearn.blog.entity.book.vo.BookVO">
        <association property="tagList" column="{linkId=id,type=type}" select="cn.dblearn.blog.mapper.operation.TagMapper.listByLinkId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, cover, author, category_id, recommend, publisher, publish_date, page_num, grade, description, catalogue, create_time, update_time, read_num, like_num, publish, progress, reading
    </sql>

    <sql id="homeBookColumn">
        id,title,description,author,read_num,like_num,cover,create_time,reading,progress
    </sql>

    <select id="listBookVo" resultType="cn.dblearn.blog.entity.book.vo.BookVO">
        select <include refid="Base_Column_List"/> from book
        <where>
            <if test="params.title!=null and params.title!=''">
                and title = #{params.title}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryPageCondition" resultMap="WithTagList">
        select <include refid="homeBookColumn"/>, 1 as `type` from book
        <where>
            <if test="params.recommend != null">
                and recommend = true
            </if>
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
            and publish = true
        </where>
        <if test="params.recommend !=null">
            order by reading desc, recommend desc
        </if>
        <if test="params.latest !=null">
            order by reading desc,create_time desc
        </if>
        <if test="params.favorite !=null">
            order by reading desc,like_num desc
        </if>
    </select>

    <update id="updateReadNum">
        update book set read_num = read_num + 1 where id = #{id}
    </update>

    <update id="updateLikeNum">
        update book set like_num = like_num + 1 where id = #{id}
    </update>

    <select id="checkByCategory" resultType="Integer">
        select count(*) from book where category_id = #{categoryId}
    </select>

    <select id="selectByIdWithSubList" resultMap="WithSubList" parameterType="Integer">
        select <include refid="Base_Column_List"/> , 1 as `type`
        from book where id = #{id}
    </select>
</mapper>
