<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.article.ArticleMapper">

    <select id="listArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select * from article
        <where>
            <if test="article.title!=null and article.title !=''">
                and title like concat('%',#{article.title},'%')
            </if>
        </where>
    </select>
</mapper>
