<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.article.ArticleMapper">

    <sql id="homeArticleColumn">
        id,title,description,author,read_num,comment_num,like_num,cover,cover_type,create_time
    </sql>

    <select id="listArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select * from article
        <where>
            <if test="params.title!=null and params.title !=''">
                and title like concat('%',#{params.title},'%')
            </if>
        </where>
    </select>

    <select id="queryPageCondition" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select <include refid="homeArticleColumn"/> from article 
        <where>
            <if test="params.recommend != null">
                and recommend = true
            </if>
        </where>
        <if test="params.recommend !=null">
            order by create_time desc
        </if>
        <if test="params.latest !=null">
            order by create_time desc
        </if>
        <if test="params.favorite !=null">
            order by like_num desc
        </if>
        <if test="params.commentMost !=null">
            order by comment_num desc
        </if>
    </select>

    <update id="updateReadNum">
        update article set read_num = read_num + 1 where id = #{id}
    </update>
</mapper>
