<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.article.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dblearn.blog.entity.article.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="content_format" property="contentFormat" />
        <result column="read_num" property="readNum" />
        <result column="like_num" property="likeNum" />
        <result column="cover_type" property="coverType" />
        <result column="cover" property="cover" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="recommend" property="recommend" />
        <result column="category_id" property="categoryId" />
        <result column="publish" property="publish" />
        <result column="top" property="top" />
    </resultMap>

    <resultMap id="WithTagList" type="cn.dblearn.blog.entity.article.dto.ArticleDTO" extends="BaseResultMap">
        <association property="tagList" column="{linkId=id, type=type}" select="cn.dblearn.blog.mapper.operation.TagMapper.listByLinkId"/>
    </resultMap>

    <sql id="homeArticleColumn">
        id,title,description,author,read_num,like_num,cover,cover_type,create_time,top
    </sql>

    <select id="listArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVO">
        select * from article
        <where>
            <if test="params.title!=null and params.title !=''">
                and title like concat('%',#{params.title},'%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryPageCondition" resultMap="WithTagList">
        select <include refid="homeArticleColumn"/> , 0 as `type` from article
        <where>
            <if test="params.recommend != null and params.recommend != ''">
                and recommend = true
            </if>
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
            and publish = true
        </where>
        <if test="params.recommend !=null and params.recommend != ''">
            order by top desc, recommend desc
        </if>
        <if test="params.latest !=null and params.latest != ''">
            order by top desc,create_time desc
        </if>
        <if test="params.favorite !=null and params.favorite != ''">
            order by top desc,like_num desc
        </if>

    </select>

    <update id="updateReadNum">
        update article set read_num = read_num + 1 where id = #{id}
    </update>

    <select id="getSimpleArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVO">
        select <include refid="homeArticleColumn"/> from article where id = #{id}
    </select>

    <update id="updateLikeNum">
        update article set like_num = like_num + 1 where id = #{id}
    </update>

    <select id="checkByCategory" resultType="Integer">
        select count(*) from article where category_id = #{categoryId}
    </select>
</mapper>
