<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dblearn.blog.mapper.article.ArticleMapper">

    <sql id="homeArticleColumn">
        id,title,description,author,read_num,comment_num,like_num,cover,cover_type,create_time,top
    </sql>

    <select id="listArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select * from article
        <where>
            <if test="params.title!=null and params.title !=''">
                and title like concat('%',#{params.title},'%')
            </if>
        </where>
    </select>

    <select id="queryPageCondition" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select <include refid="homeArticleColumn"/> from article 
        <where>
            <if test="params.recommend != null and params.recommend != ''">
                and recommend = true
            </if>
            <if test="params.categoryId !=null and params.categoryId != ''">
                and find_in_set(#{params.categoryId},category_id)
            </if>
            and publish = true
        </where>
        <if test="params.recommend !=null and params.recommend != ''">
            order by top desc, recommend desc
        </if>
        <if test="params.latest !=null and params.latest != ''">
            order by top desc,create_time desc
        </if>
        <if test="params.favorite !=null and params.favorite != ''">
            order by top desc,like_num desc
        </if>
        <if test="params.commentMost !=null and params.commentMost != ''">
            order by top desc,comment_num desc
        </if>

    </select>

    <update id="updateReadNum">
        update article set read_num = read_num + 1 where id = #{id}
    </update>

    <select id="getSimpleArticleVo" resultType="cn.dblearn.blog.entity.article.vo.ArticleVo">
        select <include refid="homeArticleColumn"/> from article where id = #{id}
    </select>

    <update id="updateLikeNum">
        update article set like_num = like_num + 1 where id = #{id}
    </update>

    <select id="checkByCategory" resultType="Integer">
        select count(*) from article where category_id = #{categoryId}
    </select>
</mapper>
